apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-config
  namespace: keos-storage
  annotations:
    replicator.v1.mittwald.de/replicate-to: .*
data:
  core-site.xml: |
    {{ lookup('template','core-site.xml.j2') | trim | indent(4) }}
  hdfs-site.xml: |
    {{ lookup('template','hdfs-site.xml.j2') | trim | indent(4) }}