# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*           @dcano-stratio @fjgavilan-stratio @lpgutierrez @adoblas @mrodriguez-stratio @javdstratio @lcarballo-stratio 
