apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ policy_namespace }}-ns-ingress-egress"
  namespace: "{{ policy_namespace }}"
spec:
  egress:
  - {}
  ingress:
  - {}
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress

