# Optional arguments passed to rpc.nfsd. See rpc.nfsd(8)
RPCNFSDARGS=""

# Optional arguments passed to rpc.mountd. See rpc.mountd(8)
RPCMOUNTDOPTS=""

# Optional arguments passed to rpc.statd. See rpc.statd(8)
STATDARG=""

# Optional arguments passed to sm-notify. See sm-notify(8)
SMNOTIFYARGS=""

# Optional arguments passed to rpc.idmapd. See rpc.idmapd(8)
RPCIDMAPDARGS=""

# Enable usage of gssproxy. See gssproxy-mech(8).
GSS_USE_PROXY="yes"

# Optional arguments passed to blkmapd. See blkmapd(8)
BLKMAPDARGS=""

# Use NFS with security
NFS_SECURITY_GSS="yes"
SECURE_NFS="yes"

# Optional arguments passed to rpc.gssd. See rpc.gssd(8)
RPCGSSDARGS="-vvv"

# Optional arguments passed to rpc.svcgssd. See rpc.svcgssd(8)
RPCSVCGSSDARGS="-n -vvv -rrrrr -iiiiii"