apiVersion: v1
kind: Service
metadata:
  name: build-cache-node
  namespace: "{{ jenkins_namespace }}"
spec:
  selector:
    app: gradle-enterprise
    component: build-cache-node
  ports:
  - name: build-cache-node
    port: 5071
