apiVersion: v1
kind: Secret
metadata:
  name: gradle-build-cache-config-secret
  namespace: "{{ jenkins_namespace }}"
type: Opaque
stringData:
  config.yaml: |-
    version: 5
    cache:
      accessControl:
        users:
          stratio:
            note: ""
            level: readwrite
            password: y/oPceYC5Do+kRrPa/AzqJwcmROqQhZpctvJhud3MSU=:J64PpZdTMk27Xf1Fv13RRzkXDCCLwea5db8WETJJIqI=
        anonymousLevel: readwrite
      freeSpaceBufferSize: 1024
      maxEntryAgeInHours: null
      maxArtifactSize: 100
      targetSize:
        type: maxAvailable
    registration: null
    uiAccess:
      type: "secure"
      username: "stratio"
      password: "y/oPceYC5Do+kRrPa/AzqJwcmROqQhZpctvJhud3MSU=:J64PpZdTMk27Xf1Fv13RRzkXDCCLwea5db8WETJJIqI="   
