apiVersion: v1
kind: Pod
metadata:
  name: temporal-pod
  namespace: "{{ jenkins_namespace }}"
spec:
  containers:
    - name: temporal-pod
      image: alpine:latest
      volumeMounts:
        - name: {{ binaries_volume.name }}
          mountPath: /data
      command: ["sleep"]
      args: ["3600"]
  volumes:
    - name: {{ binaries_volume.name }}
      persistentVolumeClaim:
        claimName: {{ binaries_volume.name }}
