apiVersion: v1
kind: Secret
metadata:
  name: postgrest
  namespace: "{{ jenkins_namespace }}"
stringData:
  PGRST_DB_JWT_PASSWORD: "{{ postgrest_jwt_password }}"
  PGRST_DB_URI : "{{ postgrest_api_url }}"
