apiVersion: v1
kind: Secret
metadata:
  name: "{{ sa_user }}-token"
  namespace: "{{ jenkins_namespace }}"
  annotations:
    kubernetes.io/service-account.name: "{{ sa_user }}"
type: kubernetes.io/service-account-token
