[libdefaults]
 default_realm = {{kerberos_realm|upper}}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 rdns = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 proxiable = true
 default_ccache_name = FILE:/tmp/krb5cc_%{uid}

[realms]
 {{kerberos_realm|upper}} = {
  kdc = {{kerberos_fqdn}}
  admin_server = {{kerberos_fqdn}}
 }

[domain_realm]
 .{{kerberos_realm|lower}} = {{kerberos_realm|upper}}
 {{kerberos_realm|lower}} = {{kerberos_realm|upper}}
