[org/gnome/desktop/a11y]
always-show-universal-access-status=false
[org/gnome/login-screen]
banner-message-enable=true
banner-message-text='{{ welcome_message | replace('\n','\\n') }}'
disable-restart-buttons=true
disable-user-list=true