<dict>
  <key>policyCategoryAuthentication</key>
  <array>
    <dict>
      <key>policyContent</key>
      <string>(policyAttributeFailedAuthentications &lt;
        policyAttributeMaximumFailedAuthentications) OR (policyAttributeCurrentTime &gt;
        (policyAttributeLastFailedAuthenticationTime + autoEnableInSeconds))</string>
      <key>policyIdentifier</key>
      <string>Authentication Lockout</string>
      <key>policyParameters</key>
      <dict>
        <key>autoEnableInSeconds</key>
        <integer>{{accout_lockout_duration_seconds}}</integer>
        <key>policyAttributeMaximumFailedAuthentications</key>
        <integer>{{accout_lockout_count}}</integer>
      </dict>
    </dict>
  </array>


  <key>policyCategoryPasswordChange</key>
  <array>
    <dict>
      <key>policyContent</key>
      <string>policyAttributeCurrentTime &gt; policyAttributeLastPasswordChangeTime +
        (policyAttributeExpiresEveryNDays * 24 * 60 * 60)</string>
      <key>policyIdentifier</key>
      <string>Change every {{password_maximum_age_days}} days</string>
      <key>policyParameters</key>
      <dict>
        <key>policyAttributeExpiresEveryNDays</key>
        <integer>{{password_maximum_age_days}}</integer>
      </dict>
    </dict>
  </array>


  <key>policyCategoryPasswordContent</key>
  <array>
    <dict>
      <key>policyContent</key>
      <string>policyAttributePassword matches '.{% raw %}{{% endraw %}{{password_minimum_length}},{% raw %}}{% endraw %}+'</string>
      <key>policyIdentifier</key>
      <string>Has at least {{password_minimum_length}} characters</string>
      <key>policyParameters</key>
      <dict>
        <key>minimumLength</key>
        <integer>{{password_minimum_length}}</integer>
      </dict>
    </dict>


    <dict>
      <key>policyContent</key>
      <string>policyAttributePassword matches '(.*[0-9].*){% raw %}{{% endraw %}{{password_complexity_digit}},{% raw %}}{% endraw %}+'</string>
      <key>policyIdentifier</key>
      <string>Has a number</string>
      <key>policyParameters</key>
      <dict>
        <key>minimumNumericCharacters</key>
        <integer>{{password_complexity_digit}}</integer>
      </dict>
    </dict>


    <dict>
      <key>policyContent</key>
      <string>policyAttributePassword matches '(.*[a-z].*){% raw %}{{% endraw %}{{password_complexity_lowerchar}},{% raw %}}{% endraw %}+'</string>
      <key>policyIdentifier</key>
      <string>Has a lower case letter</string>
      <key>policyParameters</key>
      <dict>
        <key>minimumAlphaCharactersLowerCase</key>
        <integer>{{password_complexity_lowerchar}}</integer>
      </dict>
    </dict>


    <dict>
      <key>policyContent</key>
      <string>policyAttributePassword matches '(.*[A-Z].*){% raw %}{{% endraw %}{{password_complexity_uperchar}},{% raw %}}{% endraw %}+'</string>
      <key>policyIdentifier</key>
      <string>Has an upper case letter</string>
      <key>policyParameters</key>
      <dict>
        <key>minimumAlphaCharacters</key>
        <integer>{{password_complexity_uperchar}}</integer>
      </dict>
    </dict>


    <dict>
      <key>policyContent</key>
      <string>policyAttributePassword matches '(.*[^a-zA-Z0-9].*){% raw %}{{% endraw %}{{password_complexity_otherchar}},{% raw %}}{% endraw %}+'</string>
      <key>policyIdentifier</key>
      <string>Has a special character</string>
      <key>policyParameters</key>
      <dict>
        <key>minimumSymbols</key>
        <integer>{{password_complexity_otherchar}}</integer>
      </dict>
    </dict>


    <dict>
      <key>policyContent</key>
      <string>none policyAttributePasswordHashes in policyAttributePasswordHistory</string>
      <key>policyIdentifier</key>
      <string>Does not match any of last {{password_history_size}} passwords</string>
      <key>policyParameters</key>
      <dict>
        <key>policyAttributePasswordHistoryDepth</key>
        <integer>{{password_history_size}}</integer>
      </dict>
    </dict>

  </array>
</dict>