apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ check_storage_class_pvc_name }}
  namespace: "{{ storage_class_namespace }}"
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes:
    - {{ storage_class_pvc_access_mode }}
  resources:
    requests:
      storage: {{ storage_class_pvc_size }}
